.navigationContainer {
  width: 100%;

  display: flex;
  align-items: flex-start;
}

.topnav {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--color3) 0px 1px 100px 0px;
}
.leftnav {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}
.search-box {
  background: var(--color4);
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 20px;
  position: relative;
}
.search-input {
  border: none;
  outline: none;
  background: var(--color4);
}
.searchIcon {
  color: var(--color1);
}
.rightnav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}
.theme {
  color: white;
}

.userImage {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50%;
}
.userProfile {
  position: relative;
}
.profileOptions {
  width: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150%;
  background: var(--color1);
  right: 0;
  border-radius: 20px 0 0 20px;
  transition: all 400ms ease-in-out;
}
.profileItems {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profileItems:hover {
  background-color: var(--color4);
  transition: all 200ms ease;
  color: var(--color2);
}
