.dashboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    " side top"
    " side main";
  transition: all 200ms ease-in-out;
  grid-template-rows: 10vh 90vh;
}
.sidenav {
  grid-area: side;
}
.topnav {
  background: var(--color3);
  grid-area: top;
}
.appbody {
  background: var(--color1);
  grid-area: main;
  padding: 1rem;
}
