:root {
  --headingFont: "Roboto Condensed", sans-serif;
  --bodyFont: "Inter", sans-serif;
  --backgroundLinearGradient: linear-gradient(
    to right,
    var(--color1) 100%,
    var(--color2) 0%
  );
  --color1: #000000;
  --color2: #150050;
  --color3: #3f0071;
  --color4: #fb2576;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  cursor: default;
}
.textGradient {
  background: -webkit-linear-gradient(var(--color4), var(--color3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
